/*-----------------------General Styling-----------------------*/
:root {
  --pri-background: #608ED9;
  --pri-accent: #E3C189;
}

body {
  /* background-color: #000; */
  background-color: var(--pri-background);
  border: 0;
  margin: 0;
  font-family: Verdana, sans-serif;
}
#wrapper {
  /* background-color: #000; */
  background-color: var(--pri-background);
  width: 100%;
  color: #f2f2f2;
  min-height: 100%;
 
  min-width: 1100px;
}
header {
  height: 100px;
}
header.img #comapny_logo {
  float: left;
  height: 70%;
}
table.social {
  float: right;
  align-content: center;
  padding: 10px 50px 0px 0px;
  color: #FFF;
}
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /* background-color: var(--pri-background); */
}
li.nav {
    float: left;
}
li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 50px;
}
/* Change the link color to #111 (black) on hover */
li.nav a:hover {
    background-color: #111;
}
ul.nav li a.active {
    background-color: #ffffff;
    color: #333;
}
footer {
    background-color: #333;
    bottom:0;
    width:100%;
    background:rgb(29, 29, 29);
    min-height: 150;
}
footer table {
    color: rgb(201, 201, 201);
    border: 0px 20px 0px 0px;
    padding: 20px;
    margin: auto;
}
footer table td {
  text-align: center;
}
footer a {
  color: #ecc55a;
}
.push {
  min-height: 150 px;
}
/*.......pop up check booking form....*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: rgba(50,50,50,0.9);
  margin: auto;
  padding: 0;
  width: 30%;
  min-width: 450px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
/* The Close Button */
.close {
  color: #333;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-header {
  padding: 2px 16px;
  background-color: #e7a412;
  color: rgb(0, 0, 0);
}
.modal-header h3 {
  padding: 5px 2px;
  margin: 0px;
}
.modal-body {
  padding: 2px 16px 20px 16px;

}
#user_detail, #check_method, #user_detail_submit{
  font-size: 16px;
  border-radius: 2px;
  border: none
}

/* ----- Flexbox layout (flexible)----- */
.flex-row {
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.flex-row::-webkit-scrollbar,
.flex-col::-webkit-scrollbar {
    display: none;
} 
  
  /* Hide scrollbar for IE, Edge and Firefox */
.flex-row, .flex-col {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* --- must be used with/within flex --- */
.flex-grow {
    flex: 1;
}

.valign-center {
    align-items: center;
}

.halign-center {
    justify-content: center;
}

.center {
    align-items: center;
    justify-content: center;
}

.space-betw {
    justify-content: space-between;
}


/*=======================Home Specific=======================*/
div.content{
  clear: both;
}
/*.............Slider...........*/
* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}
/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
span.active {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/*.................tabs....................*/
/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #333;
}
/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  border-right: 2px solid rgb(68, 68, 68);
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: #FFF;
  font-size: 100%;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
  color: #333;
}
/* Create an active/current tablink class */
.tab button.active {
  /* background-color: #ffbb00; */
  background-color: var(--pri-accent);
  color: #333;
}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  /* border-top: 3px solid #ffbb00; */
  border-top: 3px solid var(--pri-accent);
  animation: fadeEffect 0.5s; /* Fading effect takes 0.5 second */
}
table.featureTab {
  color: #fff;
  margin: auto;
  padding-bottom: 50px;
}
table.featureTab td {
  width: 220px;
  height: 250px;
  margin: 0;
  padding: 0px 20px 0px 20px ;
}
table.featureTab img{
  width: 220px;
  height: 330px;
  margin: 0 auto;
  /* object-fit: contain; */
  padding-top: 20px;
}
table.featureTab tr:nth-of-type(even) { 
  text-align: center;
}
div.tabcontent h3, .tabcontent p {
  text-align: center;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.bounding-box {
  width: auto;
  height: 250px;
  margin: 0 auto;
}

.bounding-box img {
  width: 183px;
  height: auto;
  object-fit: cover;
}

/*=======================Movie styling=======================*/
/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #000;
}
/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 12px;
}
/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: #FFF;
  content: "/\00a0";
}
/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
ul.breadcrumb {
  margin-top: 0px;
  padding: 10px
}
table.movie_tabs, .tabcontent .movie_tabs {
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
table.movie_tabs td {
  width:  250px;
  /* width: auto; */
  height: 250px;
  margin: 0 auto;
  padding: 0px 20px 0px 20px;
}
table.movie_tabs img{
  /* max-width: 100%;
  max-height: 100%; */
  width: 230px;
  height: 363px;
  object-fit: cover;
  padding-top: 20px;
}
table.movie_tabs tr:nth-of-type(even) { 
  vertical-align: top;
  height: 170px;
  background-color: rgb(0, 0, 0);
}
table.movie_tabs small, .movie-card small {
  font-size: 10px;
  padding: 10px 0px 10px 0px;
  color: #bbb;
}
table.movie_tabs p{
  font-size: 10px;
  text-align: left;
  margin: 5px 0px;
}
table.movie_tabs p.movie_title {
  font-size: 14px;
  margin-top: 10px;
  text-align: left;
  min-height: 34px;
}
button.book {
  width: 100%;
  background-color: #0084ff;
  border: 0px;
  color: #fff;
  padding: 7px 20px;
  margin-top: 10px;
  font-size: 14px;
}
button.book:hover {
  background-color: #004d96;
}

.tabcontent .movie_tabs { 
  width: 90%;
  background-color: #000;
}

.movie-card {
  width: 213px;
  padding: 15px;
  margin-bottom: 10px;
  /* background-color: #000; */
  transition: box-shadow 0.35s;
}

.movie-card:hover {
  box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);
}

.movie-card .bounding-box {
  width: auto;
  height: 250px;
  margin: 0;
  overflow: hidden;
}

.movie-card .bounding-box img {
  width: 183px;
  height: auto;
  object-fit: cover;
}

/*=================Individual Movie styling==================*/
div.mini_wrapper {
  width: 1060px;
  margin: auto;
}
h2.movie_title {
  color: #ffd900;
  font-size: 24px;
  margin-bottom: 0px;
}
p.rating {
  margin-top: 0px;
  color: #9e9e9e;
  font-size: 13px;
}
hr.movie_title {
  border-color: #8d8d8d;
}
div.individual_mov {
  display: flex;
  padding-bottom: 20px;
}
#img img{
  width: 348;
  height: 528;
}
div #info{
  padding-left: 50px;
}
table.individual_mov {
  padding-bottom: 20px;
}
table.individual_mov td {
  color: #FFF;
  vertical-align: top;
  font-size: 14px;
}
table.individual_mov td.detail {
  max-width: 300px;
  padding: 0px 10px 10px 20px
}
table.individual_mov td.label {
  color: #9e9e9e;
}
#synopsis p {
  font-size: 14px;
}
/*-------------booking div------------ */
div.booking {
  color: #FFF;
  background-color: #1d1d1d;
  margin-bottom: 50px;
}
form.booking {
  padding: 20px;
}
table.booking {
  color: #FFF;
  margin: auto;
}

/*========================Ticket Purchase========================*/
h2._title{
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
  color: #e6b140;
}
div.mini_wrapper_selected_mov {
  width: 800px;
  margin: auto;
  background-color: #1d1d1d;
  padding: 30px 50px 50px 50px;
}

div.selected_mov {
  display: flex;
}
div #selected_info{
  padding: 0px 10px 0px 10px;
  width: 100%;
}
div #selected_info p{
  margin: 5px;
}
#checkout_content_table {
  margin: 0px auto;
  width: 100%;
}
table.checkout_content_table tr {
  width: 100%;
  text-align: center;
}
div.screen {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 10px 25px rgba(255, 255, 255, 0.7);
  height: 10px;
  margin: 20px 0px 20px 0px;
  width: 300px;
}
.ticket_purchase_button {
  padding: 10px 20px;
  border-radius: 3px;
  border: 0px;
  color: #FFF;
  background-color: #F00;  
  font-size: 16px;
}
.ticket_purchase_button:hover {
  background-color: rgb(161, 0, 0);
}
hr.subsection_divider{
  border-color: #e6b140;
}
table.sub_summary {
  border-collapse: collapse;
}
table.sub_summary td{
  padding: 5px 50px;
}
tr.linetop {
  border-bottom: 1pt solid rgb(255, 255, 255);
}
tr.linebtm {
  border-top: 1pt solid rgb(255, 255, 255);
}
#total_text {
  text-align: right;
}
tr.total td {
  padding-top: 20px;
}
div.notification {
  width: 350px;
  text-align: left;
  padding-left: 30px;
  background-color: rgba(255, 60, 60, 0.664);
  margin: 10px 20px;
  border-radius: 5px;

}
#phone_alert, #email_alert, #name_alert {
  margin: 2px;
  font-size: 12px;
  color: #FFF;

}
table.user_detail td {
  padding: 10px;
}



/*========================Cinema page========================*/
div.content_cinema{
  color: #FFF;
  width: 80%;
  background-color: #161616;
  margin: auto;
  margin-bottom: 100px;
}
div.content_cinema h2{
  margin: 0px;
  padding: 20px 30px 10px 70px;
  color: #ffd900;
}
table.cinema {
  color: #FFF;
  padding: 30px 30px 30px 50px;
}
table.cinema td {
  padding: 20px;
  vertical-align: top;
}
div.btm{
  vertical-align: bottom;
}
table.cinema img{
  max-width: 400px;
}
table.cinema h3{
  color: #FFF;
}
table.cinema p {
  margin: 5px 0px;
  font-size: 14px;
}


/*===booking success page====*/
.return_home {
  background-color: #fa9600;
  color: #000;
  border: 0px;
  border-radius: 3px;
  padding: 10px 20px;
  float: right;
  margin: 0px 10px;
}
.browse {
  background-color: #ff5100;
  border: 0px;
  border-radius: 3px;
  padding: 10px 20px;
  float: right;
  margin: 0px 10px;
}




/*=====================Confirmation page=====================*/
/*===========================================================*/
ul.progressBar {
  padding: 10px 16px;
  list-style: none;
  background-color: #000;
  display: flex;
  justify-content: center;
  margin-top: 0px;
  padding: 10px
}
  /* Display list items side by side */
ul.progressBar li {
  display: inline;
  font-size: 16px;
  color: #717171;
}
  /* Add a slash symbol (/) before/behind each list item */
ul.progressBar li+li:before {
  padding: 8px;
  color: rgb(255, 255, 255);
  content: ">\00a0";
}
  /* Add a color to all links inside the list */
ul.progressBar li a {
  color: #0275d8;
  text-decoration: none;
}
  /* Add a color on mouse-over */
ul.progressBar li a:hover {
  color: #01447e;
  text-decoration: underline;
}
ul.progressBar li.active {
  color: #FFF;
}
div.confirmation {
  text-align: left;
  width: 800px;
  margin: auto;
  background-color: #1d1d1d;
  padding: 20px 100px 100px 100px;
  color: #FFF;
  margin-top: 30px;
  margin-bottom: 50px;
  min-height: 600px;
}
.confirmation h3 {
  color: #e7a412;
}
.confirmation h2 {
  color: #e6b140;
  text-align: center;
}
#paymentMethod {
  background-color: rgb(105, 105, 105);
  border-radius: 4px;
  padding: 10px 20px;
  border: 0px;
  color: #ddd;
  font-size: 16px;
}
#pay {
  background-color: rgb(180, 0, 0);
  border: 0px;
  color: rgb(228, 226, 226);
  border-radius: 4px;
  padding: 11px 20px;
  font-size: 16px;
  margin-left: 5px;
}
#pay:hover {
  background-color: rgb(126, 0, 0);
}
table.payment td{
  vertical-align: top;
}
table.payment {
  float: right;
}

/*===================Personal Particulars====================*/
/*===========================================================*/
table.personalDetailForm {
  margin: auto;
}
table.personalDetailForm td {
  color: white;
  padding-bottom: 10px;
  vertical-align: top;
}
table.personalDetailForm td.col1 {
  text-align: right;
  padding-right: 20px;
}

/*===================check_booking====================*/
span.c {
  color: rgb(160, 160, 160);
}



